.value {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  /* White */

  color: #fcfffd;
  margin-left: 10%;
}

.wallet-header {

display: flex;
justify-content: center;


}


@media screen and (max-width: 975px) {


}



