:host {
  color: #FCFFFD;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
}

.container-profile {  
  height: calc(100vh - 6.25em);
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  background: linear-gradient(165.53deg, #1E1C1C 1.62%, #303630 98.7%);
  display: flex;
  justify-content: center;

}

h3 {

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 2%;

}

label {

  display: inline-block;
  margin-bottom: .5rem;
  margin-top: inherit;

} 

.div-profile-dialog {
  /* Color/Header */
  background: #232422;
  border-radius: 8px;
  max-width: 240px;
  max-height: 300px;
  text-align: center;
  padding: 8%;
  height: 300px;
  margin-top: 20%;
  margin-right: 5%;

}

.div-profile-dialog img {
  max-width: 300px;
  margin-top: 5%;
  margin-left: -20%;

}

.div-form {

  margin-top: 20%;
  margin-right: 0%;

}


a {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #0DE84A;
}

.profile-block {

  margin-left: 3%;

}

.email{

  display: flex;
  justify-content: center;
    

}

.title-changePassword {

 margin-top:  5%;
 margin-left: 5%;

}

.title-desktop {

  display: block;
 

}

.title-mobile {

  display: none;

}


@media screen and (max-width: 975px) {

  .title-desktop {

  display: none;

  }
  
  .title-mobile {
  
    display: block;
    margin-left: 35%;

  }


  .div-profile-dialog {
  
    margin-top: 8%;
    margin-left: 20%;
  
  }

  .div-profile-dialog img {
    max-width: 300px;
    margin-top: 5%;
    margin-left: -5%;
  
  }

  .div-form {

    margin-top: 10%;
    margin-right: 13%;
    margin-left: 19%;

  }

  .email{

  display: flex;
  justify-content: center;
    
    }


  .form-altered {

    margin-left: 12% !important;
    margin-top: 5% !important;

}


.key-img {

  margin-top: 2%;
  display: flex;
  position: absolute

}

.profile {

background: green !important;

}


h3 {

  display: flex;
  align-items: center;
  position: relative;
  margin-top: 2%;

}


label {
  display: inline-block;
  margin-bottom: .5rem;
  margin-top: inherit;

} 

}
