.menu-container {
  /* Color/Header */
  background: #232422;
  /* Color/cinza intermediário */
  border: 1px solid #313230;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  color: white;
  flex-flow: column;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height, or 135% */
  /* White */
  color: #FCFFFD;

}

.menu-account li {
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  
}

.menu-account li:hover {
  background: rgba(76, 175, 80, 0.3);
}

.hover-item {
  background: rgba(76, 175, 80, 0.3);
}

.hover-link {
  color: #0DE84A;
  font-style: normal !important;
  text-decoration: none;
}

a {
  color: white;
}

a:hover {
  color: #0DE84A;
  font-style: normal !important;
  text-decoration: none;
}

.container-my-account {
  padding-top: 4%;
  padding-bottom: 4%;
  background: #313230;
}

.my-account {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  text-transform: uppercase;
  /* White */
  color: #FCFFFD;
}


@media screen and (max-width: 991px) {


.container-my-account {

  padding-left: 41%;

}

.menu-container {


}


}


@media screen and (max-width: 576px) {


ul, li {

  display: flex;
  
}

}