:host {
  background-color: #3B3D3A !important;
  box-shadow: 20px 20px 40px rgba(30, 30, 30, 0.6);
  border-radius: 20px;
}

.container {

  margin-top: 13%;
  

}


label {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  color: #FFFFFF;
  display: inline-table;
  width: 100%;
  margin-left: 1%;
}

input[type="text"] {
  /* Color/card elements */
  background: #555854;
  /* Color/Header */
  border: 1px solid #232422;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 13px;
  line-height: 17px;
  width: 100%;
  max-width: 344px;
  height: 40px;
  color: #B4B4B4;
}

a {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #0DE84A;
}

p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* White */
  color: #FCFFFD;
}

.body-text {
  color: #FFFFFF;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10%;
  display: inline-table;
}

.center-text {
  text-align: center;
}

::placeholder {
  font-style: italic;
  color: #B4B4B4;
}

.row {
  margin-bottom: 3%;
}

.ul-info {
  padding-left: 5%;
  color: white;
}

.ul-info li {
  margin-bottom: 1%;
  list-style-type: disc;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* White */
  color: #FCFFFD;
}

.error {
  color: firebrick;
  font-size: 12px;
}

.change-password {
  /* Text/label (13) */
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height, or 135% */
  display: flex;
  flex-direction: column;
  /* Color/textos principais */
  color: #FFFFFF;
}

.profile {
  /* Text/label (13) */
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height, or 135% */
  display: flex;
  flex-direction: column;
  max-width: 264px;
  /* Color/textos principais */
  color: #FFFFFF;
}

.profile .row {
  padding-bottom: 4%;
}

.profile input[type='date'] {
  max-width: 160px;
}

.profile input {
  color: #FFFFFF;
  background: #3B3D3A;
}

.profile-submit-button {
  max-width: 100%;
}

h3 {
  /* Título principal */
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  display: flex;
  align-items: center;
  /* White */
  color: #FCFFFD;
}

input[type="radio"]:checked {
  background: #DADADA;

}

input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-top: 20%;

 
}

.radio-input {
  display: flex;
  flex-direction: row;
}

.label-radio {
  background: #354538;
  border: 1px solid rgba(11, 182, 59, 0.3);
  border-radius: 8px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  width: 100%;
  text-align: left;

}

.title-add-wallet {

width: 370px;
height: 23px;
display: flex;
justify-content: center;
margin-top: -10%;


/* Subtitulo de tela */

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;

/* White */

color: #FCFFFD;

}

.title-selected {
 

width: 264px;
height: 18px;
display: flex;
justify-content: center;
margin-left: 16%;


/* Body */

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;

/* White */

color: #FCFFFD;
opacity: 0.5;

}

.green-button {

  margin-top: 10%;

}

.cancel {


margin-top: 10%;

}

.value-deposit {

  font-size: 14px;
  margin-left: 3%;
  padding-top: 3%;

}

.button-exit {

display: flex;
justify-content: center;
margin-left: -8%;
margin-top: -10%;

background: transparent;
border: none;
border-radius: 0px;
color: white;
font-size: 14px;


}

@media screen and (max-width: 975px) { 


  .title-add-wallet {

  margin-top: 0%;
  width: 340px;
    
    }
    
    .title-selected {
     
    left: 19%;
    top: 22%;
    
    }

    .button-exit {

      margin-left: -1%;
      margin-top: 0%;

     }

      .container {

        margin-top: -5%;
        margin-left: -4%;
        padding: 13%;
        
      }
      
    
      .row {

        margin-bottom: 0%;

      }

      .radio-input {

        display: flex;
        flex-direction: row;
        margin-top: -15%;

      }
      
      .label-radio {

      margin-left: 10%;
      margin-top: -9%;

      }

      .green-button {

      margin-left: 20%;
      
      }

}

