.back-to-list {
 
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: white;
    text-shadow: #000 2px 3px 2px;
    
    display: flex;
    justify-content: center;
    
    }
    
@media screen and (max-width: 975px) { 

    .back-to-list {
 
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color: white;
        text-shadow: #000 2px 3px 2px;
        
        display: flex;
        justify-content: center;
        
        }
        
}

