:host {
  color: #FCFFFD;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
}

.container-transactions {

  height: calc(100vh - 6.25em);
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  background: linear-gradient(165.53deg, #1E1C1C 1.62%, #303630 98.7%);


}

h3 {
  
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  display: flex;
  align-items: center;
}

label {
  display: table;
  width: 100%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 17px;
  color: #FFFFFF;
}

select {

  background: linear-gradient(100.53deg , #1E1C1C -60.38%, #303630 337.7%);
  background-color: #303630;
    /* Color/Header */
    box-sizing: border-box;
    max-width: 50%;
    max-height: 40px;
    width: 100%;
    height: 100%;
    color: white;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    margin-top: 6%;
    padding-left: 5%;
    
    box-shadow: 0 0 0 0;
    border: 0 none;
  
   display: inline-block;
   position: relative;
   width: 0rem;
   margin-left: 1rem;
   text-align: left;
  
  
  }

  .title-filter-Data {

    display: inline-block;
    margin-top: 1.5rem;
    color: #FCFFFD;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;

  }


.title-historic-transactions {

 
  display: inline-block;
  margin-top: 1.5rem;
  color: #FCFFFD;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;


  }

  .title-filter-status {


  display: inline-block;
  margin-top: 1.5rem;
  color: #FCFFFD;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;

  }

  
.mat-button {

  display: none;

}


.div-filter-data {

display: flex;
justify-content:center;

}

.div-filter-status {

display: flex;
justify-content: center;

}

.div-filter-type {

  display: flex;
  justify-content: center;

}

.div-filter-button {

  display: flex;
  justify-content: center;
  margin-top: 1%;

}


.div-back-button {

  margin-top: 0%;
  position: absolute;
  margin-left: -90%;

  }

  .back-button {

    background: transparent;
    border: none;
    border-radius: 0px;
    color: white;
    width: 30px;
  
    }

    .back-button-img { 

      position: absolute;
      font-size: 1.1em;
      width: 1.5em;
      float: left;
      z-index: 2;
    
    }

    .title-filter-data {

      display: inline-block;
      margin-top: 1.5rem;
      color: #FCFFFD;
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
    
    }
    
    .title-filter-status {

      display: inline-block;
      margin-top: 1.5rem;
      color: #FCFFFD;
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
    
    }
    
    .title-filter-tran {

      display: inline-block;
      margin-top: 1.5rem;
      color: #FCFFFD;
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
    
    }
   
    .green-button-filter-date-status {

      background: #0bb63b;
      border-radius: 8px;
      height: 40px;
      width: 33%;
      max-width: 248px;
      color: white;
      font-family: DM Sans;
      font-style: normal;
      border: none;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      margin-top: 6%;
      margin-right: 26%;

    }

    .mat-form-field {
      display: inline-block;
      position: relative;
      width: 0rem;
      margin-left: 1rem;
      text-align: left;
     }


@media screen and (max-width: 975px) { 

.filters {

  background-color: #222120;
  display: flex;
  height: calc(100vh - 0em);
  overflow: hidden;
  overflow-y: auto;
  justify-content: center;
  width: 104%;
  
}

.mat-button {

  display: block;
  background: #0bb63b;
  border-radius: 8px;
  height: 40px;
  max-width: 248px;
  color: white;
  font-family: DM Sans;
  font-style: normal;
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin-left: 20%;



}

.div-filter-data {

  display: none;
  
  }
  
  .div-filter-status {
  
 display: none;
  
  }
  
  .div-filter-type {
  
   display: none;
  }

  .div-filter-button {

    display: none;
  
  }

}