.container-games{

    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    background: linear-gradient(165.53deg, #1E1C1C 1.62%, #303630 98.7%);
}

.container-fluid {
    
display: flex; 
justify-content: center;
background: linear-gradient(165.53deg, #1E1C1C 1.62%, #303630 98.7%);
width: 100%;
overflow: hidden;
overflow-y: auto;
bottom: 0;
position: fixed;


}

.carousel-control-prev-icon {

  margin-right: 89%;

}

.carousel-control-prev-icon {

  margin-left: 89%;

}

.div-color-odd{

  background-color: #3B3D3A;
  width: 93%;
  height: 63%;
  max-width: 93%;
  max-height: 63%; 
  border-radius: 8px;

}

.div-linha {

  border-right: 1px solid rgb(128, 127, 127);
  margin-top: -14%;
  width: 0%;
  margin-left: -5%;
  margin-right: 12%;
  height: 30%;
  padding-top: 17%;
  
  }


.placar-style-casa {

  background: #1E1C1C;
  color: #ffd643;
  border-radius: 8px;
  font-size: 24px;
  padding: 6px;
  margin-right: 0%;
  margin-left: 61%;  


}

.placar-style-empate {

  background: #1E1C1C;
  color: #ffd643;
  border-radius: 8px;
  font-size: 24px;
  padding: 6px;
  margin-left: 1%;
  
  
  }

  
.placar-style-fora {

  background: #1E1C1C;
  color: #ffd643;
  border-radius: 8px;
  font-size: 24px;
  padding: 6px;
  margin-left: 1%;
  
  
  
  }
  
  



.carousel {

  width: 100%;

}

.title-casa {


 padding-left: 38.5%;
 margin-right: 2%;
 margin-top: 1%;
 font-size: 24px;
 margin-left: 22%;

}


.title{

  margin-right: 2%;
  margin-top: 1%;
  font-size: 24px;
 
 }
 

.visibleDate {

  display: flex;
  font-size: 16px;
  margin-left: 0%;
  margin-top: 7%;
  position: absolute;
  padding: 1%;
  

}

.title-casa-fora {

  margin-top: 1%;
  display: flex;
  justify-content: center;
  margin-bottom: 1%;


}
 
.div-games-odd {

  height: 180px;
  width: 1600px;
  padding-top: 2%;
  color: white;
  display: flex;
  justify-content: center;
  max-height: 180px;
  max-width: 1600px;
 
}

.text-light-tournament {

  color: #ffd643;
  display: flex;
  font-size: 24px;
  margin-top: 1%;
  margin-bottom: 1%;


}

.text-light-vs {


  margin-top: 0%;
  font-size: 22px;
  margin-right: 60%;
  display: flex;
  position: absolute;
  letter-spacing: 1px;
  padding: 1%;

}

.title-tournament{
    font-weight: bold;
    color: #FFD643;;
    font-size: 1.6em;
    margin-top: 2%;
    margin-left: 5%;
}

.date-games{
    margin-top: 1%;
}

.btn-date-active {
    background: #354538;
    border-radius: 10px;
    font-weight: 500;
    font-style: normal;
    color: #0DE84A !important;
}

.title-odds {
    color: #BDBDBD;
    margin-top: 3%;
    margin-left: 5%;
    width: 90%;
}

.btn-date{
    color: #FCFFFD;
   border: none;
}

.div-games-scroll{
    height: calc(100vh - 46em);
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
}

.table-home-away-title{
  color:  #BDBDBD;
  margin-top: 2%;
}



table{
    width: 90%;
    margin-left: 5%;
}

.table-separate{
 border-collapse:separate; 
 border-spacing: 0 10px; 
}


.btn-rate{
    background: #555854;
    color:  #FCFFFD;
    border-radius: 8px;
    padding:12px;
    min-width: 59px;
}

.span-title{
  color:  #BDBDBD;
}

.btn-title{
  color:  #BDBDBD;
  border-radius: 8px;
  padding:12px;
}

.span-rate{
    padding:8px;
}


.box-name-team{
    color:  #FCFFFD;
    font-size:1em;
}

.games-table thead tr th:first-child {
    padding-left: 10px;
    color: black;
  }

.title-table thead tr th:first-child {
    padding-left: 10px;
    color: black;
  }
  
  table.table-home-away th,
  table.table-home-away td {
    padding: 20px;
  }

  .th-same-children{
    padding: 20px;
    width: 40px;
  }

  table.title-table th,
  table.title-table td {
    padding: 20px;
    padding-bottom: 0px;
  }

  table.games-table th,
  table.games-table td {
    padding: 20px;
  }

  table.title-table tr td:not(:first-child) {
    text-align: center;
    width: 40px;
  }
  
  table.games-table tr td:not(:first-child) {
    text-align: center;
    width: 40px;
  }
  
  .games-table thead tr th:not(:first-child) {
    text-align: center;
  }

  .title-table thead tr th:not(:first-child) {
    text-align: center;
  }

  .game td:first-child {
    padding-left: 10px;
    width: 75%;
  }

  .barra-gol-style{
    height: 70px;
    margin-top: -10%;
  }

  .gol-style{
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 40px;
  }

  .gol-label{
    margin-top: -5%;
  }

  .text-not-found{
    margin-top: 2%;
    font-size: 1.2em;
  }

  
  .game-date {
    color: #71756F;
  }

  .teams {
    display: block;
    padding-right: 45px;
  }

  .plus-taxes {
    float: right;
    color: #0DE84A;;
    text-decoration: none;
    margin-top: -2%;
  }
  .active-rate{
    background: #354538;
    color: #0DE84A;
    border: 0.5px solid;
  }

  .teams-pc{
    display: block;
  }

  .teams-mobile{
    display: none;
  }

  .game {
      background-color: #3B3D3A;
  }

 tr td:nth-child(1){ border-top-left-radius: 10px; }
 tr td:nth-child(5) { border-top-right-radius: 10px; }
 tr td:nth-child(1) { border-bottom-left-radius: 10px; }
 tr td:nth-child(5) { border-bottom-right-radius: 10px; }

 @media screen and (max-width: 975px) {
  .title-tournament{
    font-size: 1.2em;
    margin-top: 3%;
  }

  .teams-mobile{
    display: block;
  }

  .teams-pc{
    display: none;
  }

 .container-games{
  height: calc(100vh - 10em);
 }

 .teams{
  padding-right: 0px;
 }

 .btn-rate{
   
   font-size: 0.8rem;
   padding: 6px;
   min-width: 40px;
 }

 .btn-title{
   font-size: 0.8rem;
   padding: 6px;
 }

 .box-name-team{
   font-size: 0.8rem;
 }

 table.games-table th,
  table.games-table td {
    padding: 4px;
  }

  table.title-table th,
  table.title-table td {
    padding: 4px;
  }

  .game-date{
    font-size: 0.8rem;
  }

  .div-games-scroll{
    height: calc(100vh - 12em);
  }

  .div-games-scroll-game-selected {
    height: calc(100vh - 14em);
  }


  .game td:first-child {
    padding-left: 10px;
    width: 60%;
  }

}

@media screen and (max-width: 975px) { 


.div-games-odd {

  height: 180px;
  width: 100%;
  
}



}