:host {
  background-color: #3B3D3A !important;
  box-shadow: 20px 20px 40px rgba(30, 30, 30, 0.6);
  border-radius: 20px;
}

label {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  color: #FFFFFF;
  display: inline-table;
  width: 100%;
}

input[type="text"] {
  /* Color/card elements */
  background: #555854;
  /* Color/Header */
  border: 1px solid #232422;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 13px;
  line-height: 17px;
  width: 100%;
  max-width: 344px;
  height: 40px;
  color: #B4B4B4;

}

a {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #0DE84A;
}

p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* White */
  color: #FCFFFD;
}

.container {

  margin-top: 10%;

}

.body-text {
  color: #FFFFFF;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10%;
  display: inline-table;
}

.center-text {
  text-align: center;
}

::placeholder {
  font-style: italic;
  color: #B4B4B4;
}

.row {
  margin-bottom: 10%;
}

.ul-info {
  padding-left: 5%;
  color: white;
}

.ul-info li {
  margin-bottom: 1%;
  list-style-type: disc;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* White */
  color: #FCFFFD;
}

.error {
  color: firebrick;
  font-size: 12px;
}

.change-password {
  /* Text/label (13) */
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height, or 135% */
  display: flex;
  flex-direction: column;
  /* Color/textos principais */
  color: #FFFFFF;
}

.profile {
  /* Text/label (13) */
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height, or 135% */
  display: flex;
  flex-direction: column;
  max-width: 264px;
  /* Color/textos principais */
  color: #FFFFFF;
}

.profile .row {
  padding-bottom: 4%;
}

.profile input[type='date'] {
  max-width: 160px;
}

.profile input {
  color: #FFFFFF;
  background: #3B3D3A;
}

.profile-submit-button {
  max-width: 100%;
}

h3 {
  /* Título principal */
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  display: flex;
  align-items: center;
  /* White */
  color: #FCFFFD;
}

input[type="radio"]:checked {
  background: #DADADA;
}

input[type="radio"] {
  width: 30px;
  height: 30px;
}

.radio-input {
  display: flex;
  flex-direction: row;
}

.label-radio {
  /* Color/verde */
  background: #354538;
  /* Color/verdesecundario */
  border: 1px solid #0DE84A;
  border-radius: 8px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  width: 100%;
  /* Color/verdesecundario */
  color: #0DE84A;
}

.title-sacar{

display: flex;
justify-content: center;
width: 185px;
margin-top: -8%;
margin-left: 15%;


/* Subtitulo de tela */

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
text-align: center;

/* White */

color: #FCFFFD;

}

.title-select{

/* Selecione o valor e a conta desejada para receber o saque. */

display: flex;
justify-content: center;
width: 218px;
height: 36px;
margin-left: 10%;

/* Body */

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

/* White */

color: #FCFFFD;
opacity: 0.5;


}

.button-exit {

  background: transparent;
  border: none;
  border-radius: 0px;
  color: white;
  font-size: 14px;
  margin-top: -12%;
  display: flex;
  margin-left: -7%;

}


.button-exit-dialog {

  top: 33%;
  background: transparent;
  border: none;
  border-radius: 0px;
  color: white;
  font-size: 14px;
  display: flex;
  margin-top: -12%;
  margin-left: -7%;

}

.title-confirmation {

  display: flex;
  justify-content: center;
  width: 172px;
  height: 26px;
  margin-top: -9%;
  margin-left: 22%;

  
  /* Título principal */
  
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  
  
  /* White */
  
  color: #FCFFFD;

}

.title-subTitle {

display: flex;
justify-content: center;
width: 267px;
height: 36px;
margin-top: 10%;
margin-left: 10%;


/* Body */

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

/* White */

color: #FCFFFD;

}

.title-namePassword {

display: flex;
justify-content: center;
width: 42px;
height: 18px;
margin-left: 10%;
margin-top: 5%;

/* Taxa bold */

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;

/* White */

color: #FCFFFD;

}

.button-sacar {

  margin-top: 33%;
  display: flex;
  justify-content: center;

}

.input-confirmation-password {

  position: absolute;
  display: flex;
  justify-content: center;
  top: 38%;
  width: 20%;
  margin-left: 1%;
  
  /* Gray shadow */
  
  background: white;
  /* Green dark */
  
  border: 1px solid #242A24;
  box-sizing: border-box;
  border-radius: 8px

}


@media screen and (max-width: 975px) { 


  
.title-sacar{


  margin-top: -16%;


}
 
    .button-exit {
    
      margin-top: -20%;
      margin-left: -15%;
     
    }
    .container {

    margin-top: 0%;

    }

      
    .button-exit-dialog {

      margin-top: -18%;
      margin-left: -13%;

    }

    .title-confirmation {
   

    }

    .title-subTitle {

      margin-top: 10%;
      margin-left: 5%;

    }

    .title-namePassword {

    margin-top: 15%;
    margin-left: 8%;

    }

    .button-sacar {

  
    margin-top: 33%;
    margin-bottom: 10%;


    }

    .input-confirmation-password {

    right: 23%;
    width: 62%

    }

    .row {
      margin-bottom: 3%;
     
    }

    }



