h3 {
  /* Título principal */
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  /* fill/white */
  color: #FFFFFF;
  margin-bottom: 2%;
}

p {
  /* Body */
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  /* White */
  color: #FCFFFD;
  margin: 0px;
}

.img {
  display: table;
  width: 100%;
  padding: 5%;
  align-items: center;
  text-align: center;
  align-self: center;
}

.footer-feedback {
  padding-top: 5%;
  display: table;
  width: 100%;
  align-self: center;
  text-align: center;
}

button {
  width: 50%;
}
